RewriteEngine On

# Apache (.htaccess or httpd.conf)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /index.php [L]

# Block everything but public and index
RewriteRule !^((index\.php)?$|public/) - [F]
