# Block everything but public and index
Deny from all
Allow from 127.0.0.1

<Files /index.php>
    Allow from all
    Satisfy Any
</Files>
<Directorymatch "/public">
    Allow from all
    Satisfy Any
</Directorymatch>

# Apache (.htaccess or httpd.conf)
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /index.php [L]
