body {
    overflow-x: hidden;
    background-color: #1b1c1d;
    color: white;
}

.ui.menu.navbar {
    background-color: #0f1010;
}

.ui.inverted.segment.dark {
    background-color: #0f1010;
    border: 0;
}
.ui.top.attached.dark {
    background-color: #060707;
    border: 0;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ui.tabular.menu.inverted .item {
    background-color: #0f1010;
    color: white;
}

.ui.segment.banner {
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin-top: -1rem;
}

.masthead {
    background-image: url("/public/media/backgrounds/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin: 0;
    height: 600px;
}